$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-300: hsl(0, 0%, 63%);
$clr-neutral-700: hsl(0, 0%, 27%);
$clr-neutral-900: hsl(0, 0%, 0%);

$clr-black: $clr-neutral-900;
$clr-white: $clr-neutral-100;
$clr-light-grey: $clr-neutral-300;
$clr-dark-grey: $clr-neutral-700;
