$fs-xl: 5rem; // Desktop h1
$fs-700: 4rem; // Mobile h1
$fs-600: 3rem; // Desktop h2 + Call to action button
$fs-500: 2rem; // Mobile h2 + Call to action button
$fs-400: 1.7rem; // Mobile Body copy
$fs-300: 1.2rem; // Desktop Body copy

$fw-regular: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
