@use "../abstracts/colors" as *;
@use "../abstracts/spacing" as *;

.feature {
  &__gallery {
    position: relative;
    img {
      display: block;
    }
  }
  &__controller {
    position: absolute;
    bottom: 0;
    right: 0;
    button {
      background-color: $clr-black;
      width: 56px;
      height: 56px;
      display: inline-grid;
      place-content: center;
    }

    @media screen and (min-width: 1200px) {
      transform: translateX(100%);

      button {
        width: 72px;
        height: 72px;
      }
    }
  }

  @media screen and (min-width: 900px) {
    &__content {
      display: grid;
      place-content: center;
    }
  }
}
